html {
  height:50%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(255, 255, 255) 50%, rgb(255, 0, 200) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/* Cuerpo */
/* Estilos para .leaf */
.leaf {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Establece un alto mínimo para .leaf */
  margin: 0; /* Elimina el margen predeterminado */
}
#logo {
  max-width: 800px;
  margin: 2px auto;
  width: 600px; height: 600px;
  text-align: center;
}
/* Define la animación para cambiar el color del texto */
@keyframes changeColor {
  0% { color: rgb(241, 239, 239); }
  25% { color: rgb(255, 255, 255); }
  50% { color: rgb(255, 0, 98); }
  75% { color: rgb(255, 0, 85); }
  100% { color: rgb(255, 255, 255); }
}
  
/* Estilos para el nombre del negocio */

#nombre-negocio {
  animation: changeColor 3s infinite;
  font-weight: bold;
  font-size: 3em;
  font-family: Arial, sans-serif;
  font-weight: 900;
  padding: 10px 20px;
  background-color: rgb(26, 2, 82);
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

/* Estilos para las redes sociales */

#redes-sociales {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.boton-red-social {
  margin: 10px;
}

.boton-red-social img {
  max-width: 150px;
  display: block;
  margin-bottom: 10px;
}

/* Estilos para productos */

#productos {
  font-family: serif;
  font-weight: bold;
  font-size: 33px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 8px 15px;
  margin: 15px 0px;
}
/*anuncio publicitario*/
.ad-container {
  width: 300px; /* Ancho del contenedor del anuncio */
  height: 250px; /* Alto del contenedor del anuncio */
  border: 1px solid #ccc; /* Borde para el contenedor del anuncio */
  overflow: hidden; /* Para evitar que la imagen se desborde del contenedor */
}
.ad-container img {
  width: 100%; /* Para asegurar que la imagen se ajuste al contenedor */
  height: auto; /* Para mantener la proporción de aspecto de la imagen */
}
