/* Estilos generales */

body {
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
    background-color: rgb(0, 0, 0);
}

/* Estilos para .leaf */

.leaf {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Establece un alto mínimo para .leaf */
  margin: 0; /* Elimina el margen predeterminado */
}
/* Define la animación para el fondo */

/* Estilos para el logo */

#logo {
  max-width: 800px;
  margin: 2px auto;
  width: 700px; height: 700px;
  text-align: center;
}
/* Define la animación para cambiar el color del texto */
@keyframes changeColor {
  0% { color: rgb(241, 239, 239); }
  25% { color: rgb(255, 255, 255); }
  50% { color: rgb(255, 0, 98); }
  75% { color: rgb(255, 0, 85); }
  100% { color: rgb(255, 255, 255); }
}
  
/* Estilos para el nombre del negocio */

#nombre-negocio {
  animation: changeColor 3s infinite;
  font-weight: bold;
  font-size: 3em;
  font-family: Arial, sans-serif;
  font-weight: 900;
  padding: 10px 20px;
  background-color: rgb(26, 2, 82);
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

/* Estilos para las redes sociales */

#redes-sociales {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.boton-red-social {
  margin: 10px;
}

.boton-red-social img {
  max-width: 150px;
  display: block;
  margin-bottom: 10px;
}

/* Estilos para productos */

#productos {
  font-family: serif;
  font-weight: bold;
  font-size: 33px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 8px 15px;
  margin: 15px 0px;
}
/*anuncio publicitario*/
.ad-container {
  width: 300px; /* Ancho del contenedor del anuncio */
  height: 250px; /* Alto del contenedor del anuncio */
  border: 1px solid #ccc; /* Borde para el contenedor del anuncio */
  overflow: hidden; /* Para evitar que la imagen se desborde del contenedor */
}
.ad-container img {
  width: 100%; /* Para asegurar que la imagen se ajuste al contenedor */
  height: auto; /* Para mantener la proporción de aspecto de la imagen */
}
.contenedor {
  position: relative; /* El contenedor es relativo para que los elementos absolutos se posicionen con respecto a él */
  display: inline-block; /* Para que el contenedor se ajuste al tamaño de su contenido */
}
.recuadro {
  width: 510px; /* Anchura inicial */
  height: 660px; /* Altura inicial */
  background-color: rgb(255, 0, 0); /* Color inicial (rojo) */
  position: absolute; /* Posicionamiento absoluto */
  bottom: -2px; /* Posición debajo de la imagen */
  left: 50%; /* Alineación horizontal centrada */
  transform: translateX(-50%); /* Centra el recuadro */
  animation: cambioColor 5s infinite; /* Animación de cambio de color */
  border-radius: .9%; /* Redondea todas las esquinas */
}
@keyframes cambioColor {
  0% { background-color: rgb(255, 0, 149); } /* Color inicial (rojo) */
  25% { background-color: rgb(255, 255, 255); } /* Verde */
  50% { background-color: rgb(255, 0, 179); } /* Azul */
  75% { background-color: rgb(255, 255, 250); } /* Amarillo */
  100% { background-color: rgb(255, 0, 157); } /* Volver a rojo */
}
.post1{
  position: relative;
  z-index: 1; /* Coloca este elemento al frente */
}