.contenedor{
    width: 100%;
    max-width: 1000px;
    margin:0 auto;
    background: rgb(0, 0, 0);
    overflow: hidden;
}
.main{
    width: 70%;
    background: rgb(0, 107, 247);
    float:left;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
}
.main img{ 
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
}
aside{
    width: 30%;
    background: blue;
    padding: 20px;
    box-sizing: border-box;
    background:rgb(255, 0, 242);
    float: left;
    text-align: justify;
    
}

@media screen and (max-width:800px){
    .main{
        width: 100%;   
    }
    aside{
        width: 100%;
    }
}
